.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border: 2px solid white;
    height: 40vh;
    border-radius: 5%;
    background: whitesmoke;
}
.text {
    font-size: 1.5rem;
    position: relative;
    top: -130px;
    left: 13.5%;
}