.bigFooter {
  display: flex;

  justify-content: space-around;

  font-style: sans-serif;
  background: #1d281e;
  color: white !important;
  padding: 80px 150px;
}
.bigFooter a {
  font-family: sans-serif;
  font-size: 0.9rem;
  color: white !important;
}
.some {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.other {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.letter {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.letter:first-child {
  font-family: "Rubik" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 40px !important;
}
.subscribe:first-child {
  font-family: "Rubik" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 40px !important;
}
.subscribe {
  display: flex;
}
.subscribe-btn {
  background: black !important;
}

.editText {
  background-color: transparent;
  outline: none;
  border: none;
  
  border-bottom: 0.5px white solid;
  padding: 7px;
  color: white;
}
