.large {
    border: 1px solid aliceblue;
    background: aliceblue;
    height: 10vh;
}
.large h1 {
    margin: 20px;
    font-family: sans-serif;
    font-weight: 400;
}
.second {
    border: 2px solid #E3F9E5;
    background:#E3F9E5;
    width: 300px;
    margin: 20px;
    position: relative;
    top: 30px;
    margin-bottom: 5rem;
}
.second a {
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 8vh;
}
.second a:hover {
    background: #7AE582;
}
.second h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}
