.card {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    background: white;
    margin: 2rem;
}
.card img {
    margin: 1rem;
}
.card h6 {
    margin: 1rem;
}
.ipsum {
    display: grid;
}
.ipsum h3 {
    margin-bottom: 1rem;
}
.visit h4 {
    margin-top: 12rem;
}
/* card 2 */
.card2 {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    background: white;
    margin: 2rem;
}
.card2 img {
    margin: 1rem;
}
.card2 h6 {
    margin: 1rem;
}
.ipsum2 {
    display: grid;
}
.ipsum2 h3 {
    margin-bottom: 1rem;
}
/* card 3 */
.card3 {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    background: white;
    margin: 2rem;
}
.card3 img {
    margin: 1rem;
}
.card3 h6 {
    margin: 1rem;
}
.ipsum3 {
    display: grid;
}
.ipsum3 h3 {
    margin-bottom: 1rem;
}
/* card 4 */
.card4 {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    background: white;
    margin: 2rem;
}
.card4 img {
    margin: 1rem;
}
.card4 h6 {
    margin: 1rem;
}
.ipsum4 {
    display: grid;
}
.ipsum4 h3 {
    margin-bottom: 1rem;
}